services:
  openclaw-gateway:
    image: ${OPENCLAW_IMAGE:-openclaw:local}
    environment:
      HOME: /home/node
      TERM: xterm-256color
      OPENCLAW_GATEWAY_TOKEN: ${OPENCLAW_GATEWAY_TOKEN}
      OLLAMA_API_KEY: ${OLLAMA_API_KEY}
      GROQ_API_KEY: ${GROQ_API_KEY}
    volumes:
      - ${OPENCLAW_CONFIG_DIR}:/home/node/.openclaw
      - ${OPENCLAW_WORKSPACE_DIR}:/home/node/.openclaw/workspace
      - /DATA:/home/node/.openclaw/workspace/ZimaOS
      - /media/HDD-Storage:/home/node/.openclaw/workspace/HDD-Storage
    ports:
      - "${OPENCLAW_GATEWAY_PORT:-18789}:18789"
      - "${OPENCLAW_BRIDGE_PORT:-18790}:18790"
    init: true
    restart: unless-stopped
    command:
      [
        "node",
        "dist/index.js",
        "gateway",
        "--bind",
        "${OPENCLAW_GATEWAY_BIND:-lan}",
        "--port",
        "18789",
      ]
  openclaw-cli:
    image: ${OPENCLAW_IMAGE:-openclaw:local}
    environment:
      HOME: /home/node
      TERM: xterm-256color
      OPENCLAW_GATEWAY_TOKEN: ${OPENCLAW_GATEWAY_TOKEN}
      BROWSER: echo
      OLLAMA_API_KEY: ${OLLAMA_API_KEY}
      GROQ_API_KEY: ${GROQ_API_KEY}
    volumes:
      - ${OPENCLAW_CONFIG_DIR}:/home/node/.openclaw
      - ${OPENCLAW_WORKSPACE_DIR}:/home/node/.openclaw/workspace
      - /DATA:/home/node/.openclaw/workspace/ZimaOS
      - /media/HDD-Storage:/home/node/.openclaw/workspace/HDD-Storage
    stdin_open: true
    tty: true
    init: true
    entrypoint: ["node", "dist/index.js"]
